USE [master]
GO
/****** Object:  Database [GEMS]    Script Date: 07-07-2023 22:43:21 ******/
CREATE DATABASE [GEMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GEMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HOME\MSSQL\DATA\GEMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GEMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.HOME\MSSQL\DATA\GEMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GEMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GEMS]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 07-07-2023 22:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Customer] [varchar](100) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Roles] [varchar](max) NULL,
	[TrialUser] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_User] ADD  CONSTRAINT [DF_tbl_User_TrialUser]  DEFAULT ((0)) FOR [TrialUser]
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 07-07-2023 22:43:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_Login](@Username nvarchar(100),@Password NVARCHAR(100))
as
BEGIN
Select * from tbl_User where Username=@Username and Password=@Password
END
GO
USE [master]
GO
